@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white-87: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  color: var(--white-87);
  background-color: var(--white-87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: rgb(60, 70, 123);
  --color-secondary: rgb(80, 88, 156);
  --color-tertiary: rgb(99, 108, 203);
  --color-accent: rgb(110, 140, 251);
  --color-custom-white: var(--white-87);
}
