@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white-87: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  color: var(--white-87);
  background-color: var(--white-87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: rgb(60, 70, 123);
  --color-secondary: rgb(80, 88, 156);
  --color-tertiary: rgb(99, 108, 203);
  --color-accent: rgb(110, 140, 251);
  --color-custom-white: var(--white-87);
  --color-whatsapp-green: rgb(32, 186, 89);
}

.carrousel-card {
  background-color: var(--color-custom-white);
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  min-width: 300px;
  height: 10rem;
  flex: 1 0 auto;
}

/* Infinite Carousel Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%); /* width of 5 items + gaps */
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.cta-button {
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: var(--color-whatsapp-green);
  border-radius: 1.5rem;
  padding: 0.375rem 0.875rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.cta-button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .cta-button {
    text-align: center;
  }
}
